*{
    background-color: rgba(82, 81, 81, 0.982);
    margin: 5px;
    color: white;
}

.contenedor-general {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,200px));
    background-color: rgba(82, 81, 81, 0.982);
    margin: 0, auto;
    grid-gap: 25px;
}

.contenedor-item {
    text-align: center;
    height: 300px;
    width: 250px;
    margin-top: 10px;
    background-color: rgba(82, 81, 81, 0.982);
    

}


.contenedor-img {
    margin-top: -25px;
    height: 83%;
    width: 100%;
}

img {
    max-height: 90%;
    max-width: 100%;
}

.titulo {
    margin-top: -10px;
    margin-bottom: -30px;
}

.addItem {
    font-size: smaller;
    color: gray;
    background-color: transparent;
    
}