*{
    background-color: rgba(82, 81, 81, 0.982);
    margin: 5px;
    color: white;
}

.contenedor-general {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,600px));
}

.contenedor-item {
    text-align: center;
    height: 300px;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
    border: 2px solid gold;

}


.contenedor-img {
    height: 75%;
    width: 100%;
    margin-left: 0;
}

img {
    height: 100%;
    width: 100%;
    margin-left: 0;
}

.titulo {
    margin-top: -10px;
}

.addItem {
    font-size: smaller;
    color: gray;
    background-color: transparent;
}