
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Inicio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="/biografia">Biografía</a>
          <a class="nav-link" routerLink="/galeria">Galería</a>
          <a class="nav-link" routerLink="/contacto">Contacto</a>
        </div>
      </div>
    </div>
  </nav>

  <router-outlet />

  @if (!token) {
    <nav class="nav footer">
      <a class="nav-link login" href="/login">Administración</a>
    </nav>
  }
  @else {
    <nav class="nav footer">
      <button class="nav-link login" (click)="desconexion()">Desconexión</button>
    </nav>
  }

  
