*{
    background-color: rgba(82, 81, 81, 0.982);
    margin: 5px;
    color: white;
}


.cabecera {
    background-color: gray;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contenedor-general {
    text-align: center;
}